<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p><mat-icon>home</mat-icon> Home</p>
  </mat-drawer>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="row w-100">
        <div class="d-flex flex-row col">
          <button type="button" mat-button (click)="drawer.toggle()">
        <span class="material-icons">
        menu
        </span>
          </button>
          <h1>Aron A.</h1>
        </div>
        <div class="col">
        </div>
        <div class="d-flex flex-row-reverse col">
          <img src="https://img.icons8.com/material-outlined/96/000000/github.png"/>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>

</mat-drawer-container>

