<div>
  <div class="container">
    <div class="d-welcome">
      <p>Olá, Seja Bem-Vindo!</p>
      <h3>Eu vou ajudar <span>você</span> a construir um futuro melhor!</h3>
    </div>
  </div>
  <div class="d-projects container">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class=" mt-3 container-fluid">
    <div class="d-contact row">
      <div class="col-8">
        <p>a</p>
      </div>
      <div class="col-4">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input type="email" class="form-control" id="exampleInputEmail1"
                   placeholder="Enter Nome" name="name" ngModel>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="email" ngModel>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="floating-btn">
    <div class="row">
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="btnGroup">
          <button>
            <mat-icon>email</mat-icon>
          </button>
          <button>
            <mat-icon>email</mat-icon>
          </button>
          <button>
            <mat-icon>email</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <mat-icon class="btn-call float my-float material-icons" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample">
        add
      </mat-icon>
    </div>
  </div>


</div>

